body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

body {
  width: 100%;
}
#app {
  width: 100%;
  margin: auto;
  padding: 2rem;
  text-align: center;
}
#hero {
  width: 100%;
  display: grid;
  justify-content: flex-start;
  background-image: url("../../public/images/backg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  gap: 2rem;
}
.one {
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 50px;
  font: 1.2em sans-serif;
  display: flex;
  text-align: left;
}

.botton img {
  width: 5px;
  height: 5px;
}
#btn1 {
  background-color: green;
  color: #fff;
  border-radius: 10px;
  font-size: 25px;
  width: 230px;
  height: 80px;
}
#btn2 {
  background-color: rgb(79, 79, 79);
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  width: 230px;
  height: 80px;
}
#btn3 {
  background-color: black;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  width: 230px;
  height: 80px;
}

.the {
  width: 400px;
  height: 300px;
  margin-left: 80rem;
  margin-top: 25rem;
  background-repeat: no-repeat;
}
.two {
  color: #747bff;
}
.twoo {
  font-size: 20px;
  color: whitesmoke;
}
.twooo {
  color: white;
  font-size: 30px;
}
.back {
  display: flex;
  justify-content: space-around;
}
nav {
  display: flex;
  gap: 4rem;
  color: #fff;
}

ul {
  display: flex;
  gap: 4rem;
  text-decoration: none;
}

ul li {
  list-style: none;
}

ul li a {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.bako {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bako img {
  width: 11vw;
  gap: 20px;
  font-size: 20px;
  margin: 40px 25px;
  background-blend-mode: multiply;
}

.b-img {
  width: 17vw;
  height: 12vh;
  background-color: black;
  border-radius: 10px;
}
.search {
  width: 32px;
  height: 32px;
}
.notifications {
  width: 32px;
  height: 32px;
  gap: 2rem;
}
.avater {
  width: 32px;
  height: 32px;
  gap: 2rem;
}
.drop {
  width: 32px;
  height: 32px;
  gap: 2rem;
}
.sone {
  display: flex;
  gap: 2rem;
  align-items: end;
  background-color: grey;
  color: white;
}

#aaa {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  padding: 5px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img-container h2 {
  color: #fff;
}

#aaa img {
  width: 100%;
  height: 100%;
  margin: 10px;
  display: flex;
}

h1 {
  color: #fff;
  bottom: 1em;
  margin: 24px;
}
.ben {
  color: #fff;
}

.amba {
  display: end;
  background-color: #fff;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 50px;
}
footer {
  background-color: aqua;
}
.jude {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.penn {
  color: ;
  gap: 3rem;
  font-size: 2rem;
}
.ben {
  font-size: 1rem;
  display: flex;
  gap: 3rem;
  margin-top: 7rem;
}
.logos {
  margin-top: 15rem;
}
.pppe {
  display: flex;
  color: #fff;
  font-size: 2rem;
  gap: 3rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
